<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center m-4">
            <h3 class="rs" style="color: rgb(46, 19, 199);">These are For Full Stack Developement</h3>
        </div>
    </div>
    <div class="row">
        <div class="col offset-md-1">
            <img src="media/mern.png" alt="Error" style="width: 80%;">
        </div>
        <div class="col">
            <div class="col d-flex justify-content-center mb-4">
                <h3>HTML</h3>
                <a href="#"><button type="button" class="btn btn-primary subBtn">Subscribe</button></a>
            </div>
            <div class="col d-flex justify-content-center mb-4">
                <h3>CSS+Bootstrap</h3>
                <a href="#"><button type="button" class="btn btn-primary subBtn">Subscribe</button></a>
            </div>
            <div class="col d-flex justify-content-center mb-4">
                <h3>nodeJs+expressJs</h3>
                <a href="#"><button type="button" class="btn btn-primary subBtn">Subscribe</button></a>
            </div>
            <div class="col d-flex justify-content-center mb-4">
                <h3>ReactJs</h3>
                <a href="#"><button type="button" class="btn btn-primary subBtn">Subscribe</button></a>
            </div>
            <div class="col d-flex justify-content-center mb-4">
                <h3>PHP</h3>
                <a href="#"><button type="button" class="btn btn-primary subBtn">Subscribe</button></a>
            </div>
            <div class="col d-flex justify-content-center mb-4">
                <h3>MongoDB</h3>
                <a href="#"><button type="button" class="btn btn-primary subBtn">Subscribe</button></a>
            </div>
        </div>
    </div>
</div>