<div class="container-fluid join p-4">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>JOIN US ON</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2><span class="multiText1"></span></h2>
            </div>
        </div>
        <div class="row m-5">
            <div class="col icon1">
                <i class="fa-brands fa-3x fa-twitter" style="color: #1DA1F2;"></i>
                <h3>Twitter</h3>
                <a target="_blank" href="https://twitter.com/isamiralam?t=Z_73fazvE950skEv29IOtw&s=08">@isamiralam</a>
            </div>
            <div class="col icon1">
                <i class="fa-brands fa-3x fa-instagram" style="color: rgb(241, 82, 82);"></i>
                <h3>Instagram</h3>
                <a target="_blank" href="https://instagram.com/isamir_alam?igshid=ZDdkNTZiNTM=">isamir_alam</a>
            </div>
            <div class="col icon1">
                <i class="fa-brands fa-3x fa-linkedin" style="color: #0072b1;"></i>
                <h3>LinkedIn</h3>
                <a target="_blank" href="https://www.linkedin.com/in/samir-alam-51b240216">Samir Alam</a>
            </div>
            <div class="col icon1">
                <i class="fa-brands fa-3x fa-facebook" style="color: #3b5998;"></i>
                <h3>Facebook</h3>
                <a target="_blank" href="https://www.facebook.com/samir.alam.543792?mibextid=ZbWKwL">Samir Alam</a>
            </div>
        </div>
    </div>